@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@theme static {
  --color-primary: #FBBD2C;
  --color-secondary: #667085;
}

:root {
  --background: #0A1117;
  --foreground: #ffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
